.select{
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.titleFont{
    margin: 5px 30px;
    font-weight: 600;
}
.input{
    padding: 2px 2px;
    margin: 2px;
    border : solid 1.8px;
    border-color: grey;
    border-radius :7px;;
}