.list {
    list-style: none;
    display:flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-evenly;
    font-size: 0.8em;
    font-weight: 600;
    
}

.button{
    background-color:#e2f6ff ;
    width: 27vw;
    padding: 1.2vh 0px;
    margin:10px 0px;
    border-radius: 20px;
    
}
